*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.main{
	height: 1200px;
}
.headr-meu a:hover{
	color: coral;
}
.top-img{
	height: 80px;
}
.top-img a{
	display: inline-block;
	width: 100%;
	height: 80px;
	background: url(../img2/pc_newuser_order_100.png) no-repeat 55% 0px;
}
/* .test{
	width: 200px;
	height: 100px;
	background-color: #575757;
	box-sizing: border-box;
}
.test a{
	display: inline-block;
	width: 200px;
	height: 120px;
	background: url(../img/paper.gif) no-repeat 50% 50%;
}
 */
/* **************************************************************************** */
.headr-meu{
	height: 35px;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f2f2f2;
	font-size: 10px;
	 display: flex;
	 /* 分布方式两边对齐 */
	 justify-content: space-between;
	 padding: 0 10%;
}
 .headr-meu img{
	 width: 16px;
	 height: 16px;
	 padding: 0 0 3px ;
	 color: coral;
 }
  .headr-meu a{
	  height: 35px;
	 color: #737373;
	 display: inline-flex;
	 /* 垂直方向上居中 */
	 align-items: center;
	 font-weight: 100;
	 margin-right: 5px;
  }
  .headr-meu span{
	  display: inline-flex;
	  color: #C7C5C3;
  }
  /* **************************************************************************** */
 .meu-left-a{
	display: inline-block;
	  position: relative;
	  /* border: 1px solid black; */
 }
 .meu-left-a1{
	 height: 35px;
	 width: 80px;
	 box-sizing: border-box;
	 display: inline-flex;
	 justify-content: center;
 }
 .left-a1{
	/* width: 180px;
	 height: 180px; */
	 display: none;
 }
 .picture1{
	 width: 180px;
	 height: 180px;
	 border: 1px solid #d9d9d9;
	 box-sizing: border-box;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
	 align-items: center;
	 position: absolute;
	 left: 0;
	 top: 35px;
 }
 .picture1 img{
	 width: 140px;
	height: 140px;
	
	/* height: 200px; */
 }
 .picture1 p{
	 /* display: inline-block; */
	 font-size: 10px;
	 font-weight: 100;
	 margin-bottom: 3px;
	 text-align: center;
 }
 /* *************************************************************************************** */
.meu-left-b{
	display: inline-block;
	  position: relative;
	  /* border: 1px solid black; */
 }
 .meu-left-a2{
	 height: 35px;
	 width: 80px;
	 box-sizing: border-box;
	 display: inline-flex;
	 justify-content: center;
 }
 .left-a2{
	/* width: 180px;
	 height: 180px; */
	 display: none;
 }
 .picture2{
	 width: 180px;
	 height: 180px;
	 border: 1px solid #d9d9d9;
	 box-sizing: border-box;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
	 align-items: center;
	 position: absolute;
	 right: 0;
	 top: 35px;
 }
 .picture2 img{
	 width: 140px;
	height: 140px;
	
	/* height: 200px; */
 }
 .picture2 p{
	 /* display: inline-block; */
	 font-size: 10px;
	 font-weight: 100;
	 margin-bottom: 3px;
	 text-align: center;
 }
 /* ***************************************************************************** */
 /* 鼠标移入效果 */
 .meu-left-a:hover{
	 background-color: white;
	 border-bottom: 1px solid white;
	 z-index: 100;
	 display: inline-block;
 }
 .meu-left-a:hover .left-a1{
	 display: inline-block;
 }
 .meu-left-a:hover .picture1{
	 background-color: white;
	 border-top: 1px solid white;
	 z-index: 99;
 }
 /* ****************************************************************************** */
.meu-left-b:hover{
	 background-color: white;
	 border-bottom: 1px solid white;
	 z-index: 100;
	 display: inline-block;
 }
 .meu-left-b:hover .left-a2{
	 display: inline-block;
 }
 .meu-left-b:hover .picture2{
	 background-color: white;
	 border-top: 1px solid white;
	 z-index: 99;
 }
 /* ************************************************************************ */
 /* 设置三角 */
/* .meu-right-a1{
	 display: inline-block;
 } */
 .meu-right-a1{
 	 display: inline-block;
	 box-sizing: border-box;
 	width: 65px;
 	 height: 35px;
 	/* position: absolute; */
	position: relative;
 }
 .right-a1{
	 height: 35px;
	 width: 80px;
	/* position: relative; */
 }
 
 .meu-right .sever{
	 height: 35px;
	 width: 60px;
	 position: relative;
	 padding: 0 3px;
 }
.sever::after{
	 content: '';
	 border-top: 6px solid #D9D9D9;
	 border-left: 6px solid transparent;
	 border-right: 6px solid transparent;
	 border-bottom: 6px solid transparent;
	 position: absolute;
	 top: 40%;
	 right: 3px;
 }
 .meu-right-a1:hover{
	 background-color: white;
	 color: #FF3E0C;
 }
.meu-right-a1:hover .sever::after{
	border-top: 5px solid #FF744C;
 }
 /* ********************************************************** */
 .meu-right-a2{
	 display: inline-block;
	 position: relative;
 }
 .meu-right-a2 img{
	 height: 12px;
	 width: 12px;
 }
 .meu-right-a2 .shopcar1{
	 height: 35px;
	 width: 75px;
	 position: relative;
	 padding: 0 3px;
 }
 .shopcar1 span{
	 color: #797574;
	 margin-right: 5px;
 }
  .meu-right-a2 .shopcar-num{
	  color: #FF3E0C;
  }
.shopcar-num::after{
  	 content: '';
  	 border-top: 6px solid #D9D9D9;
  	 border-left: 6px solid transparent;
  	 border-right: 6px solid transparent;
  	 border-bottom: 6px solid transparent;
  	 position: absolute;
  	 top: 40%;
  	 right: 0;
   }
 .meu-right-a2:hover{
	 background-color: white;
	 color: #FF744C;
 }
 .meu-right-a2:hover span{
 	 /* background-color: white; */
 	 color: #FF744C;
 }
 .meu-right-a2:hover .shopcar-num::after{
	 border-top: 6px solid #FF744C;
 }
 /* ************************************************************ */
 /* .meu-right-a1 a:not(.sever){
	text-decoration: underline;
 } */
	 .meu-right-down{
		 position: absolute;
		 top:35px;
		 left: 0;
		 text-align: center;
		 display: none;
	 }
	 .down2{
		 display: inline-block;
		height: 170px;
		border: 1px solid #d9d9d9;
		background-color: white;
		
	 }
	 /* .meu-right-a1:hover .down2{
		 text-decoration: underline;
	 } */
	 .meu-right-a1:hover .meu-right-down{
		 display: block;
	 }
	 .meu-right-a1:hover{
		 border: 1px solid #d9d9d9;
		 border-bottom: 1px solid white;
	 }
	 .meu-right-a1:hover .down2{
		 border-top: 0;
		 top: 35px;
		 z-index: 2;
	 }
 /* .meu-right-a1:hover .down2{
	 border-top: 0;
 } */
/* .meu-right-a1:hover .right-a1{
	 background-color: white;
	 border-top: 1px solid #d9d9d9;
	 border-left: 1px solid #d9d9d9;
	 border-right: 1px solid #d9d9d9;
 } */
 .meu-right-a2{
	 position: relative;
	 display: inline-block;
 }
 .shopcar1{
	 width: 80px;
	 height: 35px;
	 box-sizing: border-box;
	
 }
 .right-down2{
	 
	 display:none;
 }
 .meu-right-down2{
	width: 200px;
	 height: 100px;
	 /* background-color: #5F9EA0; */
	 border: 1px solid lightgray;
	 position: absolute;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 top: 35px;
	 right: 0;
	 /* display: none; */
 }
 .meu-right-a2:hover .right-down2{
	 display: block;
 }
 .meu-right-a2:hover .meu-right-down2{
	border-top: 0; 
 }
 .meu-right-a2:hover .shopcar1{
	border-bottom: 1px solid white;
 }
 /* ****************************************************************************************** */
 .nav4{
	 height: 120px;
	 font-size: 10px;
	  color: #BFBBBB;
	  font-weight: 100;
	 /* background-image: linear-gradient(to right,#fbc2eb,#a6c1ee); */
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding: 0 8%;
 }
 .nav4 a{
	 color: #595655;
 }
 .nav4-1>p{
 	display: inline-block;
 	width: 220px;
 	height: 35px;
 	background-repeat: no-repeat;
 	background-image: url(img2/pc_hualogo.png);
 	background-size: 220px 35px;
 	position: absolute;
 	top:50%;
 	left: 50%;
 	margin: -20px;
 }
 .nav4-2{
 	display: inline-block;
 	margin: auto;
 	color: #BFBBBB;
 }
 
 .nav4-2 .input{
 	width: 240px;
 	height: 30px;
 	border: 1px solid coral;
 	/* padding: 0 5px; */
 }
 #find{
 	width: 80px;
 	height: 32px;
 	color: white;
 	background-color: coral;
 	margin: -5px;
 	border: 0;
 }
 .nav4-3 a{
	 margin: 0 10px;
 }
 .nav4-3 img{
	 width: 18px;
	 height: 18px;
 }
  /* ****************************************************************************************** */
 .nav5{
 	/* width: 100%; */
 	height: 40px;
	/* background-image: linear-gradient(to right,#fbc2eb,#a6c1ee); */
 	border-bottom: 2px solid coral;
 	display: flex;
	 padding: 0 6%;
 	/* justify-content: space-between; */
 }
 .nav5-1{
	 display: inline-block;
 	width: 220px;
 	height: 40px;
 	color: white;
 	background-color: #FF6A00;
 	line-height: 40px;
 	/* margin-left: 6%; */
 	font-size: 16px;
 	font-weight: 600;
 	padding-left: 20px;
 	box-sizing: border-box;
 }
 .nav5-2 a{
	 width: 50px;
	 height: 40px;
 }
 .nav5-2{
 	/* display: inline-flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center; */
 	color: #706C69;
 	font-size: 14px;
 	font-weight: 600;
 	line-height: 40px;
 	margin-left: 35px;
 }
 .nav5-2:hover{
	 color: coral;
 }
 .nav5-low{
	 display: inline-block;
	 position: relative;
 }
 /* *********************************************** */
 
 .nav5-low-list{
	 box-sizing: border-box;
	 width: 220px;
	 height: 440px;
	 border: 1px solid bisque;
	 border-top: 0;
	 border-bottom: 3px solid #FF6A00;
	 position: absolute;
	 top: 40px;
	 right: 0;
	 background-color: white;
	 display: flex;
	 padding: 10px  10px 25px 10px;
	 justify-content: space-between;
	 flex-direction: column;
	 
	/* display: none; */
 }
 .nav5-low-list div{
	 width: 200px;
	 box-sizing: border-box;
	 border-bottom: 1px solid #d9d9d9;
	 padding: 5px 25px 5px 0px;
 }
 .nav5-low-list a{
	 font-size: 10px;
	 font-family: '宋体';
	 outline-width: 100;
	 margin: 0 5px;
	 color: #4A4948;
	 text-align: center;
 }
 .nav5-low-list p{
	 font-weight: 600;
	 color: #FF6A00;
 }
 
 
 .low-list-right{
	 ox-sizing: border-box;
	 width: 210px;
	 height: 420px;
	 /* border: 1px solid bisque; */
	 position: absolute;
	 top: 50px;
	 left: 1000px;
	 background-color: transparent;
	 display: inline-flex;
	/* justify-content: space-between; */
	 flex-direction: column;
	 box-sizing: border-box;
 }
 .low-list-right a{
 	 display: inline-block;
	 position: relative;
 	 
 }
 .low-list-right img{
	 width: 210px;
	 height: 140px;
	 margin: -1px -1px;
 }
 .img1:hover{
	 transform: translate(15px,0);
	 transition: 2s;
 }
 .img2:hover{
 	 transform: translate(-20px,0);
	 transition: 3s;
 }
 .img3:hover{
 	 transform: translate(15px,0);
	  transition: 2s;
 }
 
 
 /* .center-backgrongd{
 	height: 440px;
 } */
 .center-backgrongd a{
 	display: inline-block;
 	width: 100%;
 	height: 440px;
 	background: url(../img2/18_byz_pc.jpg) no-repeat 55% 0px;
 }
 .nav6{
	 height: 120px;
	 width: 1200px;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	/* background-color: #6495ED; */
	 box-sizing: border-box;
	 padding: 20px 0 60px ;
	 margin: auto;
	 color: ;
 }
 .nav6 div{
	 /* display:inline-block; */
	 /* text-align: center; */
	 width: 200px;
	 height: 80px;
	 /* background-color: #90EE90; */
	 position: relative;
 }
 .nav6 a{
	 width: 40px;
	 height: 40px;
	display: inline-block;
	 position: absolute;
	 left: 0;
	 top: 20px;
 }
 .nav6 p{
	 font-size: 16px;
	 color: #736F6D;
	 /* display: inline-block; */
	 position: absolute;
	 left: 42px;
	 top: 20px;
 }
 .nav6 .p{
	 font-size: 9px;
	 font-weight: 100;
	 letter-spacing: 1px;
	 color: #A9A5A2;
	 /* display: inline-block; */
	 position: absolute;
	 left: 42px;
	 top: 43px;
 }
 .d1 a{
	 background-image: url(../img2/common_z.png);
	 background-repeat: no-repeat;
	 background-position: -244px -100px;
 }
 .d2 a{
 	 background-image: url(../img2/common_z.png);
 	 background-repeat: no-repeat;
 	 background-position: -244px -50px;
 }
 .d3 a{
 	 background-image: url(../img2/common_z.png);
 	 background-repeat: no-repeat;
 	 background-position: -244px 0px;
 }
 .d4 a{
 	 background-image: url(../img2/common_z.png);
 	 background-repeat: no-repeat;
 	 background-position: -150px -184px;
 }
 .d5 a{
 	 background-image: url(../img2/common_z.png);
 	 background-repeat: no-repeat;
 	 background-position: -100px -184px;
 }
 
 
 