	/* 头部上面导航栏 */
			.heard-up{
				height: 40px;
				background-color: #333333;
				transition: all 3s;
				/* padding: 0 8%; */
			}
			/*  */
			.nav{
				width: 1226px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				/* margin-left: auto;
				margin-right: auto; */
				/* position: relative; */
			}
			.nav p{
				display: inline-block;
				font-family: sans-serif;
				line-height: 40px;
				color: #42403B;
			}
			.nav a{
				display: inline-block;
				align-items: center;
				height: 40px;
				font-size: 12px;
				color: #D9D5D5;
				text-decoration: none;
				font-weight: 200;
				line-height: 40px;
				position: relative;
				/* margin: 0 2px; */
			}
			.nav a:hover{
				color: white;
			}
			.download{
				/* position: relative; */
				/* display: inline-flex; */
				z-index: 999;
			}
			 .download .icon-shangsanjiaoxing{
				/* display: inline-block; */
				font-size: 18px;
				position: absolute;
				top: 14px;
				left: 20px;
				color: white;
				display: none;
			}
			.app{
				/* display: inline-block; */
				width: 130px;
				height: 150px;
				background-color: white;
				position: absolute;
				top: 39px;
				left: -35px;
				box-sizing: border-box;
				display: none;
			}
			.app-text p{
				width: 130px;
				height: 20px;
				font-size: 12px;
				line-height: 0;
			}
			.app img{
				width: 90px;
				height: 90px;
				margin: 20px;
			}
			.download:hover .icon-shangsanjiaoxing{
				display: block;
			}
			.download:hover .app{
				display: inline-block;
				box-shadow: 2px 3px 2px lightgray, 2px 0px 2px lightgray;
			}
			
			.nav-left{
				 position: relative;
			}
			.nav-right{
				 position: relative;
				 z-index: 999;
			}
			.car{
				display: inline-block;
				/* float: right; */
				background-color: rgba(106,102,100,0.5);
				width: 120px;
				height: 40px;
				box-sizing: border-box;
				text-align: center;
				line-height: 40px;
				/* position: relative; */
				/* padding: 0 5px; */
			}
			.car span{
				font-size: 12px;
				color: #D9D5D5;
			}
			.car div{
				width: 280px;
				height: 0px;
				font-size: 12px;
				line-height: 100px;
				background-color: lightcoral;
				/* border: 1px solid ; */
				box-sizing: border-box;
				text-align: center;
				position: absolute;
				top: 40px;
				right: 0;
				/* display: none; */
				transform: all 2s;
				overflow: hidden;
			}
			.car:hover{
				color: red;
				background-color: white;
			}
			.car:hover span{
				color: #FF6700;
			}
			.car:hover div{
				background-color: white;
				color: #464443;
				display: inline-block;
				box-shadow: 2px 3px 3px lightgray;
				height: 100px;
			}
			.car .icon-icon8{
				font-size: 16px;
				/* color: coral; */
				}
/*****************************************************************************/
		/* 头部下面导航栏 */
			.heard-down{
				display: flex;
				justify-content: center;
				position: relative;
				width: 100%;
				height: 100px;
				/* border: 1px solid black; */
				box-sizing: border-box;
				z-index: 998;
				/* background-color: #20B2AA; */
			}
			.heard-down a{
				display:inline-block
				
			}
			.box1{
				width: 1226px;
				display: flex;
				justify-content: space-between;
				box-sizing: border-box;
			}
			.box1-left{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 60px;
				height: 100px;
				/* border: 1px solid black; */
				box-sizing: border-box;
				/* background-color: coral; */
			}
			li{
				list-style: none;
				float: left;
			}
			.bg{
				display: flex;
				flex-direction: column;
				width: 55px;
				height: 55px;
				background-color: #FF6700;
				overflow: hidden;
				transition: all 2s;
			}
			.bg img{
				width: 55px;
				height: 55px;
			}
			.bg ul{
				height: 55px;
				width: 110px;
			}
			.bg:hover ul{
				transform: translate(-55px,0);
			}
/***********************/
			.box1-center{
				width: 850px;
				height: 100px;
				box-sizing: border-box;
				display: flex;
				padding:12px 30px 0 142px;
				justify-content: space-around;
				align-items: center;
			}
			.box1-center a{
				font-size: 16px;
				height: 55px;
				line-height: 55px;
				text-decoration: none;
				color: #333;
			}
			.box1-center a1{
				position: relative;
			}.box1-center a2{
				position: relative;
			}
			.box1-center a:hover{
				color: #FF6700;
			}
			.showmore1:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.showmore2:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
				z-index: 2;
			}
			.showmore3:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.showmore4:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.showmore5:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.showmore6:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.showmore7:hover{
				height: 230px;
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.box1-center a:hover+.showmore1{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
				height: 230px;
				/* display: block; */
			}
			.box1-center a:hover+.showmore2{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.box1-center a:hover+.showmore3{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.box1-center a:hover+.showmore4{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.box1-center a:hover+.showmore5{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.box1-center a:hover+.showmore6{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.box1-center a:hover+.showmore7{
				/* color: #FF6700; */
				background-color: white;
				border-top: 1px solid #D9D5D5;
				box-shadow: 2px 3px 2px lightgray;
			}
			.showmore1{
				width: 100%;
				height: 0px;
				position: absolute;
			/* 	display: none; */
			   overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
			.showmore2{
				width: 100%;
				height: 0px;
				position: absolute;
			/* 	display: none; */
			    overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
			.showmore3{
				width: 100%;
				height: 0px;
				/* background-color: coral; */
				position: absolute;
			/* 	display: none; */
			    overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
			.showmore4{
				width: 100%;
				height: 0px;
				/* background-color: coral; */
				position: absolute;
			/* 	display: none; */
			    overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
			.showmore5{
				width: 100%;
				height: 0px;
				/* background-color: coral; */
				position: absolute;
			/* 	display: none; */
			    overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
			.showmore6{
				width: 100%;
				height: 0px;
				/* background-color: coral; */
				position: absolute;
			/* 	display: none; */
			    overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
			.showmore7{
				width: 100%;
				height: 0px;
				/* background-color: coral; */
				position: absolute;
			/* 	display: none; */
			    overflow: hidden;
				transition: all 1s;
				top: 100px;
				left: 0;
			}
/*****************************************************************************/
			.box1-right{
				width: 326px;
				height: 100px;
				position: relative;
				display: flex;
				align-items: center;
				box-sizing: border-box;
			}
			.box1-right .search{
				width: 253px;
				height: 48px;
				border: 1px solid #e0e0e0;
				padding: 0 10px;
				box-sizing: border-box;
			}
			.box1-right .button1{
				display: inline-block;
				box-sizing: border-box;
				text-align: center;
				line-height: 48px;
				text-decoration: none;
				width: 52px;
				height: 48px;
				border: 1px solid #e0e0e0;
				border-left: 0;
				background-color: white;
				color: #757575;
			}
			.box1-right .text-center{
				position: absolute;
				display: flex;
				justify-content: space-between;
				width: 140px;
				height: 20px;
				/* background-color: #798086; */
				right: 80px;
				font-size: 12px;
				color: #757575;
			}
			.text-center a{
				text-decoration: none;
				text-spacing: 2px;
				background-color: #eee;
				/* border: 1px solid #eee; */
				border-radius: 5px;
				line-height: 20px;
				color: #757575;
			}
			.box1-right .search-more{
				width: 253px;
				height: 300px;
				border: 1px solid #e0e0e0;
				position: absolute;
				box-sizing: border-box;
				top: 74px;
				left: 0;
				display: none;
			}
			.box1-right a:hover{
				background-color: #FF6700;
				color: white;
			}
			.box1-right:hover .search,.box1-right:hover .button1{
				border-color: gray;
			}
			.box1-right input:focus{
			    border-color: #f00;
			    outline: none;
			}
			.box1-right input:focus+a{
			    border-color: #f00;
			}
			.box1-right input:focus~.text-center{
			    display: none;
			}
			.box1-right input:focus~.search-more{
			    display: inline-block;
				border-color: #f00;
			}
/*****************************************************************************/
.main{
	width: 1226px;
	height: 670px;
	background-color: white;
	margin: 0 auto;
}
.main-top{
	display: inline-flex;
	width: 1226px;
	height: 460px;
	 overflow: hidden;
	 box-sizing: border-box;
	 position: relative;
	/* background-color: #5F9EA0; */
}
.main-top img{
	float: left;
		width: 1226px;
		height: 460px;
}
.main-top ul{
		width: 3678px;
		height: 460px;
		position: absolute;
		left: 0;
		top: 0;
		animation: xiaoguo 12s infinite;
}
@keyframes xiaoguo
{
	0%,15%{
		left: 0;
	}
	16%,30%{
		left: -1226px;
	}
	31%,50%{
		left: -2452px;
	}
	51%,70%{
		left: -1226px;
	}
	71%,100%{
		left: 0;
	}
}
.main-top .menu-left{
	width: 200px;
	height: 442px;
	position: absolute;
	box-sizing: border-box;
	top: 17px;
	left: 0;
	/* border: 1px solid black; */
	background-color: rgba(105,101,101,.6);
	padding: 10px 0;
}
.menu-list{
	width: 200px;
	height: 422px;
	box-sizing: border-box;
	/* background-color: coral; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.menu-list a{
	width: 200px;
	height: 30px;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 13px;
	text-decoration: none;
	color: white;
	padding-left: 10px;
	position: relative;
}
.menu-list p{
	display: inline-block;
	float: right;
	font-size: 13px;
}
.information-paeg1{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-16px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg2{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-58px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg3{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-100px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg4{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-142px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg5{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-184px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg6{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-226px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg7{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-268px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg8{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-310px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg9{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-352px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}
.information-paeg10{
	width: 1025px;
	height: 460px;
	position: absolute;
	top:-394px;
	left: 200px;
	background-color: #5F9EA0;
	display: none;
}

.menu-list .a1:hover{
	background-color: #FF6700;
}
.menu-list .a1:hover .information-paeg1{
	display: inline-block;
	}
.menu-list .a2:hover{
	background-color: #FF6700;
	}
.menu-list .a2:hover .information-paeg2{
	display: inline-block;
	}
.menu-list .a3:hover{
		background-color: #FF6700;
	}
.menu-list .a3:hover .information-paeg3{
	display: inline-block;
}
.menu-list .a4:hover{
		background-color: #FF6700;
	}
.menu-list .a4:hover .information-paeg4{
		display: inline-block;
	}
.menu-list .a5:hover{
		background-color: #FF6700;
	}
.menu-list .a5:hover .information-paeg5{
	display: inline-block;
}
.menu-list .a6:hover{
	background-color: #FF6700;
}
.menu-list .a6:hover .information-paeg6{
		display: inline-block;
	}
.menu-list .a7:hover{
	background-color: #FF6700;
}
.menu-list .a7:hover .information-paeg7{
	display: inline-block;
}
.menu-list .a8:hover{
		background-color: #FF6700;
}
.menu-list .a8:hover .information-paeg8{
		display: inline-block;
}
.menu-list .a9:hover{
		background-color: #FF6700;
	}
.menu-list .a9:hover .information-paeg9{
	display: inline-block;
}
.menu-list .a10:hover{
		background-color: #FF6700;
	}
.menu-list .a10:hover .information-paeg10{
	display: inline-block;
}

/* .menu-list .information-paeg1:hpver+.information-paeg1{
	
	display: inline-block;
} */
.main-low{
	width: 1226px;
	height: 210px;
	/* background-color: #F08080; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.main-low-left{
	background-color: #5F5750;
}
.main-low-left img{
	width: 20px;
	height: 20px;
}
.main-low-left p{
	color: white;
	font-size: 10px;
	font-weight: 100px;
}
.main-low ul{
	/* display: inline-flex;
	width: 200px;
	height: 170px;
	background-color: lawngreen; */
	width:200px;
	border-top: 1px solid #A3A09D;
	border-left: 1px solid #A3A09D;
	box-sizing: border-box;
}
.main-low li{
	float: left;
	list-style: none;
	height: 85px;
	width: 33.3%;
	text-align: center;
	border-right: 1px solid #665e57;
	border-bottom: 1px solid #665e57;
	box-sizing: border-box;
	padding: 20px 0;
}

.main-low-right{
	width: 998px;
	height: 170px;
	/* background-color: blueviolet; */
	display: flex;
	justify-content: space-between;
	
}
.main-low-right img{
	width: 316px;
	height: 170px;
}